aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
anytree==2.8.0
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
Automat==22.10.0
Babel==2.9.1
backcall==0.2.0
breezy==3.3.2
btrfsutil==6.3
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
colour==0.1.5
configobj==5.0.8
constantly==15.1.0
cryptography==40.0.2
Cython==0.29.34
daemonize==2.5.0
decorator==5.1.1
distro==1.8.0
docutils==0.19
dulwich==0.21.5
environs==8.0.0
executing==1.2.0
fastbencode==0.2
fastjsonschema==2.16.3
frozenlist==1.3.3
hyperlink==21.0.0
idna==3.4
imagesize==1.4.1
incremental==22.10.0
inflect==6.0.4
ipython==8.13.2
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jedi==0.18.2
Jinja2==3.1.2
libfdt==1.7.0
libmsym==0.2.4
libtorrent==2.0.8
loguru==0.7.0
lxml==4.9.2
magic-filter==1.0.9
MarkupSafe==2.1.2
marshmallow==3.19.0
matplotlib-inline==0.1.6
merge3==0.0.13
meson==1.1.0
more-itertools==9.1.0
multidict==6.0.4
netsnmp-python==1.0a1
notify2==0.3.1
numpy==1.24.3
openrazer==3.6.0
openrazer-daemon==3.6.0
ordered-set==4.1.0
packaging==23.0
parso==0.8.3
patiencediff==0.2.13
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.5.0
ply==3.11
prettytable==3.7.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.23.0
pycparser==2.21
pydantic==1.10.7
Pygments==2.15.1
PyGObject==3.44.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PySide2==5.15.9
python-dotenv==1.0.0
python-xlib==0.33
pytz==2023.3
pyudev==0.24.0
PyYAML==6.0
QtPy==2.3.1
Reflector==2021.11.20.2.41.3
requests==2.28.2
setproctitle==1.3.2
shiboken2==5.15.9
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.2
TBB==0.2
tomli==2.0.1
tqdm==4.65.0
traitlets==5.9.0
trove-classifiers==2023.4.29
Twisted==22.10.0
typing_extensions==4.5.0
urllib3==1.26.15
validate==5.0.8
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230508
wcwidth==0.2.6
yarl==1.9.2
zope.interface==6.0
